<nav class="ui menu">
  <header class="ui header item"> <a href="/"> Weathertop 2 </a></header>

  <div class="right menu">
    <a id="signup" class="item" href="/signup"> Signup  </a>
    <a id="login" class="item" href="/login">  Login   </a>
    <a id="icons" class="icons" href="/icons">  Icons   </a>
  </div>
</nav>
<img src = https://cdn.glitch.com/3ba5fd23-b744-4e70-ac0e-ce57a580b9dc%2Fwelcome-weathertop.JPG?v=1630074165391 width="500", height="auto" alt="" style="border: 0.5px inset lightblue;"/>
<script>
  $("#{{id}}").addClass("active item");
</script>
