{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Weathertop
  </h3>
  <p>
    Version 2
  </p>
  <div class="column">
        <p> Monitor latest weather station readings </p>
  </div>


<section

 class="ui huge inverted card center aligned middle aligned segment">
  <i class="extra content">
    <i class="big bolt icon"></i>
    <i class="big cloud meatball icon"></i>
    <i class="big cloud moon icon"></i>
    <i class="big cloud moon rain icon"></i>
    <i class="big cloud rain icon"></i>
    <i class="big cloud showers heavy icon"></i>
    <i class="big cloud sun icon"></i>
    <i class="big cloud sun rain icon"></i>
    <i class="big meteor icon"></i>
    <i class="big moon icon"></i>
    <i class="big moon outline icon"></i>
    <i class="big rainbow icon"></i>
    <i class="big smog icon"></i>
    <i class="big snowflake icon"></i>
    <i class="big snowflake outline icon"></i>
    <i class="big sun icon"></i>
    <i class="big sun outline icon"></i>
    <i class="big temperature high icon"></i>
    <i class="big temperature low icon"></i>
    <i class="big umbrella icon"></i>
    <i class="big water icon"></i>
    <i class="big wind icon"></i>
  </i>

</section>

  </section>

